<!DOCTYPE html>
<html>
<head>
  <title>PrimalTV</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="//jashkenas.github.io/underscore/underscore-min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<div class="container">
  <div class="navbar-text pull-left">
    <a href="/"><%= image_tag "logo-01.png", class: "logo img-responsive"%></a>
  </div>
</div>

<%= yield %>

</body>
</html>
