<!DOCTYPE html>
<html>
<head>
  <title>PrimalTV</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="//jashkenas.github.io/underscore/underscore-min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="container">
  <div class="navbar-text pull-left">
    <a href="/"><%= image_tag "logo-01.png", class: "logo img-responsive"%></a>
  </div>

  <div class="navbar-text pull-right">

  <% if user_signed_in? %>
  <%= link_to 'Admin Panel', rails_admin_path, :class => 'navbar-link btn btn-success' if current_user.admin == true %>

    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link btn btn-default' %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link btn btn-danger'  %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link btn btn-primary'  %>
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link btn btn-success'  %>
  <% end %>
  </div>
</div>




<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
